name: Docker Build and Push

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Ubuntu version
        id: get_version
        run: |
          VERSION=$(grep '^FROM ubuntu:' Dockerfile | cut -d':' -f2)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "Detected Ubuntu version: $VERSION"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: hiratazx/docker-ubuntu-xfce:${{ steps.get_version.outputs.VERSION }}
